@model mvc.Models.BuscarFornecedoresViewModel

@{
    ViewData["Title"] = "Fornecedores";
}

<h1>Fornecedores</h1>

<p>
    <a asp-action="Novo">Novo fornecedor</a>
</p>


<form class="form-inline" asp-action="Buscar" method="GET">
  <div class="form-group mb-4">
    <label asp-for="Nome" class="control-label"></label>
    <input asp-for="Nome" class="form-control" />
  </div>
  <div class="form-group mb-3">
    <label asp-for="CPFCNPJ" class="control-label"></label>
    <input asp-for="CPFCNPJ" class="form-control" />
  </div>
  <div class="form-group mb-2">
    <label asp-for="DataCadastro" class="control-label"></label>
    <input asp-for="DataCadastro" type="date" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary mb-2">Buscar</button>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Data cadastro
            </th>
            <th>
                Nome empresa
            </th>
            <th>
                CPF/CNPJ
            </th>
            <th>
                RG
            </th>
            <th>
                Data nascimento
            </th>
            <th>
                Telefones
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fornecedores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFCNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonesView)
            </td>
            
        </tr>
}
    </tbody>
</table>